[submodule "FFmpeg"]
path = FFmpeg
url = https://github.com/FFmpeg/FFmpeg.git
[submodule "bzip2"]
path = bzip2
url = https://gitlab.com/bzip2/bzip2.git
[submodule "libjxl"]
path = libjxl
url = https://github.com/libjxl/libjxl.git
[submodule "freetype"]
path = freetype
url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "harfbuzz"]
path = harfbuzz
url = https://github.com/harfbuzz/harfbuzz.git
[submodule "nv-codec-headers"]
path = nv-codec-headers
url = https://github.com/FFmpeg/nv-codec-headers.git
[submodule "zlib"]
path = zlib
url = https://github.com/madler/zlib.git
[submodule "openexr"]
path = openexr
url = https://github.com/AcademySoftwareFoundation/openexr.git
[submodule "x265_git"]
path = x265_git
url = https://bitbucket.org/multicoreware/x265_git.git
[submodule "x264"]
path = x264
url = https://code.videolan.org/videolan/x264.git
[submodule "libwebp"]
path = libwebp
url = https://github.com/webmproject/libwebp.git
[submodule "libvpx"]
path = libvpx
url = https://github.com/webmproject/libvpx.git
[submodule "libass"]
	path = libass
	url = https://github.com/libass/libass.git
[submodule "fribidi"]
	path = fribidi
	url = https://github.com/fribidi/fribidi.git
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus.git
[submodule "libogg"]
	path = libogg
	url = https://github.com/xiph/ogg.git
[submodule "libvorbis"]
	path = libvorbis
	url = https://github.com/xiph/vorbis.git
[submodule "dav1d"]
	path = dav1d
	url = https://code.videolan.org/videolan/dav1d.git
[submodule "lame"]
	path = lame
	url = https://github.com/lameproject/lame.git
[submodule "fdk-aac"]
	path = fdk-aac
	url = https://github.com/mstorsjo/fdk-aac.git
[submodule "libvpl"]
	path = libvpl
	url = https://github.com/intel/libvpl.git
[submodule "AMF"]
	path = AMF
	url = https://github.com/GPUOpen-LibrariesAndSDKs/AMF.git
[submodule "opencl-headers"]
	path = opencl-headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "opencl-icd-loader"]
	path = opencl-icd-loader
	url = https://github.com/KhronosGroup/OpenCL-ICD-Loader.git
[submodule "svt-av1"]
	path = svt-av1
	url = https://gitlab.com/AOMediaCodec/SVT-AV1.git
[submodule "zimg"]
	path = zimg
	url = https://github.com/sekrit-twc/zimg.git
[submodule "xz"]
	path = xz
	url = https://github.com/tukaani-project/xz.git
[submodule "libxml2"]
	path = libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "win-iconv"]
	path = win-iconv
	url = https://github.com/win-iconv/win-iconv
[submodule "vulkan-headers"]
	path = vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "spirv-tools"]
	path = spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "spirv-headers"]
	path = spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "whisper.cpp"]
	path = whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp.git
